PORT=10000
PUBLIC_BASE_URL=https://www.dekontumusorgula.com
PANEL_USERNAME=limonadmin
PANEL_PASSWORD=admin123
PANEL_NAME=Limon Admin
DEKONT_MAIL=sunapseai@gmail.com
DEKONT_APP_PASSWORD=uygulama-sifresini-buraya-yaz
MUSTI_MAIL=supermedya6@gmail.com
MUSTI_APP_PASSWORD=musti-uygulama-sifresini-buraya-yaz
SCAN_INTERVAL_MS=1000
SCAN_LOOKBACK_DAYS=30
STARTUP_SCAN_LOOKBACK_DAYS=180
MANUAL_SCAN_LOOKBACK_DAYS=120
MAX_FETCH_PER_SCAN=2000
MAX_STORED_RECEIPTS=5000
DATABASE_FILE=/var/data/dekont-kontrol/database.json
